<!-- the root element of the view assigned to the TweetList javascript controller-->
<div ng-controller="TweetList" class="tweet-list" data-search="{settings.search}">

	<div class="row clearfix">
		<div ng-repeat="tweet in lineOne" class="three columns tweet">

			<div class="tweet-content">
				<p ng-bind-html="tweet.text | trust"></p>
			</div>
			<div class="tweet-author">
				<img ng-src="{{tweet.user.profile_image_url_https}}"/>
				<div class="name">{{tweet.user.screen_name}}</div>
			</div>

		</div>
	</div>

	<div class="row clearfix">
		<div ng-repeat="tweet in lineTwo" class="three columns tweet">

			<div class="tweet-content">
				<p ng-bind-html="tweet.text | trust"></p>
			</div>
			<div class="tweet-author">
				<img ng-src="{{tweet.user.profile_image_url_https}}"/>
				<div class="name">{{tweet.user.screen_name}}</div>
			</div>

		</div>
	</div>

	<div class="row clearfix">
		<div ng-repeat="tweet in lineThree" class="three columns tweet">

			<div class="tweet-content">
				<p ng-bind-html="tweet.text | trust"></p>
			</div>
			<div class="tweet-author">
				<img ng-src="{{tweet.user.profile_image_url_https}}"/>
				<div class="name">{{tweet.user.screen_name}}</div>
			</div>

		</div>
	</div>

	<div class="row clearfix">
		<div ng-repeat="tweet in lineFour" class="three columns tweet">

			<div class="tweet-content">
				<p ng-bind-html="tweet.text | trust"></p>
			</div>
			<div class="tweet-author">
				<img ng-src="{{tweet.user.profile_image_url_https}}"/>
				<div class="name">{{tweet.user.screen_name}}</div>
			</div>

		</div>

		<div class="three columns logo">
			animiertes logo
		</div>
	</div>

</div>
